POSTGRES_DB=replication_api_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=replication_api_development
DATABASE_HOST=primarydb
DATABASE_PORT=5432
DATABASE_REPLICA_HOST=replicadb
DATABASE_REPLICA_PORT=5432

PRIMARY_DATABASE_URL=postgres://postgres:postgres@primarydb:5432/replication_api_development
REPLICA_DATABASE_URL=postgres://postgres:postgres@replicadb:5432/replication_api_development

# Point to pgcat
DATABASE_URL=postgres://postgres:postgres@pgcat:6432/replication_api_development

RAILS_ENV=development
